@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.darkenImg img {
    transition: filter 0.3s ease;
}

.darkenImg:hover img {
    filter: brightness(0.4);
}

.darkenImg:hover p {
    opacity: 1;
}

.darkenImg:hover ul {
    opacity: 1;
}

.bgHeader {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 72%, rgba(0, 0, 0, 0) 100%);
}


@keyframes slideUp {
    0% {
      transform: translateY(50%);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50%);
    }
  }
  
  .slideUp {
    animation: slideUp 2s infinite;
  }